.Total {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15rem;
  gap: 24rem;
  font-weight: bold;
}

.actions {
  margin-top: 10px;

  margin-left: 18rem;
  display: flex;
  justify-content: space-around;
  padding: 10px 6px;
}
.button--alt {
  padding: 6px 6px;
  border: none;
  border-radius: 6px;
}

.button--alt:hover {
  background-color: red;
  color: white;
}

.button {
  background-color: red;
  padding: 6px 6px;
  border: none;
  border-radius: 6px;
  color: white;
}

.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cart-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.cart-items h3 {
  margin: 0;
  font-size: 1.2rem;
}

.summary {
  display: flex;
  align-items: center;
  color: black;
  font-weight: 100;
}

.summary span {
  margin-right: 1rem;
  color: black;
  font-weight: 100;
}

.actions {
  display: flex;
  gap: 0.5rem;
}
/* 
.actions button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: #f2f2f2;
  color: #333;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.actions button:hover {
  background-color: #ddd;
} */

.Cartactions {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  left: 2rem;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  left: 21rem;
  top: -1rem;
}
