.button{
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #4d1601;
    color: white;
    padding: 0.75rem 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;

}

.icon{
    width: 1.65rem;
    height: 1.45rem;
    margin-right: 0.5rem;
}
.amt{
    margin-right: 5px;
    padding: 4px;
    position: relative;
    left: 9px;
}